{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<!--   <video width="658"
 height="444" poster="{{ url_for('static', filename='images/dingding-web.jpg')}}" autoplay="autoplay" preload="none" controls="controls"><source src="http://www.youname.com/images/first.ogv"
 /><source src="{{ url_for('static', filename='images/dingding-web.jpg')}}"
 /></video> -->
    <p>We are innovators in life insurance industry.</p>
{% endblock %}

