{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page-title">Login Page</h3>
    <form action="" method="POST">
        <div class="form-container">
            <div class="from-group">
                <input type="text" class="form-control", placeholder="Email", name="email">
            </div>
            <div class="from-group">
                <input type="password" class="form-control", placeholder="Password", name="password">
            </div>
            <div class="from-group">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}